body{
    background: #F3F5FC;
}

/*Aca comienza el encabezado*/
.encabezado{
    padding: 20px 0;
    background: url(imagenes/encabezado.jpg);
}
.diseñoArriba{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
.logo{
   width: 5%;
}
.titulo{
    font-family: 'Bebas Neue', sans-serif;
    display: inline-block;
    position: absolute;
    top:50%;
    left: 50px;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 1px #000000;
    color: #F3F5FC;
    }
/*Acá comienza el cuerpo*/
h2{
    font-size: 80px;
}




/*Acá comienza el pie de pagina*/
footer{
    height: 150px;
}
.pie{
    text-align: center;
    background: url(imagenes/pie.jpg);
    padding: 10px;
}

.logopie{
    display: inline-block;
    position: relative;
    top:30px;
}
.piee{
    width: 15%;
}
.copyright{
    color: #CCCCCC;
    font-size: 13px;
    margin: 20px;
}
.contacto{
    display: flex;
}
.espacio-link{
    width: 5%;
    background: #FFFFFF;
    border: 4px solid black;
    border-radius: 10px;
    transition: 0.3s;

}
.link{
    width: 100%;
}

.espacio-link:hover{
    opacity: 0.6;
    transform: scale(1.1);
}

.espacio-instagram{
    width: 5%;
    background: #FFFFFF;
    border: 4px solid black;
    border-radius: 10px;

}