body{
    background: #F3F5FC;
}

/*Aca comienza el encabezado*/
.encabezado{
    padding: 20px 0;
    background: url(imagenes/encabezado.jpg);
}
.diseñoArriba{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
.logo{
   width: 8%;
}
.titulo{
    font-family: 'Bebas Neue', sans-serif;
    display: inline-block;
    position: absolute;
    top:50%;
    left: 80px;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 1px #000000;
    color: #F3F5FC;
    }

/*Acá comienza el pie de pagina*/
.pie{
    text-align: center;
    background: url(imagenes/pie.jpg);
    padding: 40px;
}
.piee{
    width: 10%;
}
.copyright{
    color: #CCCCCC;
    font-size: 13px;
    margin: 20px;
}
.espacio-link{
    width: 8%;
    background: #FFFFFF;
    display: inline-block;
    border: 4px solid black;
    border-radius: 10px;
}
.link{
    width: 100%;

}